# R2 Configuration
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS=xxx

# R2 Custom Domain
IMAGE_BASE_URL=your-domain.com
IMAGE_HOSTNAME=your-image-api.your-domain.com

# Referer Whitelist
REFERER_WHITELIST=example.com,localhost
