.vercel
.DS_Store
node_modules
.wrangler
.claude
.env
.env.local
.env.example
worker/.wrangler
worker/dist
worker/node_modules
pnpm-lock.yaml
dist
build
coverage
logs
*.log
.idea
.vscode
images/
README.md
LICENSE
eslint.config.mjs
.prettierrc
.node-version
.editorconfig