.vercel
.DS_Store
node_modules
.next
.wrangler
.claude
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
worker/.wrangler
worker/dist
worker/node_modules
pnpm-lock.yaml
tsconfig.tsbuildinfo
dist
build
coverage
logs
*.log
.idea
.vscode
images/
